<ion-view id="im" ">
<ion-nav-bar id="listnavbar">
  <ion-nav-buttons side="left">
    <button class="button button-clear " ui-sref="home">
      <i class="icon ion-ios-arrow-left white"></i>
    </button>
  </ion-nav-buttons>
</ion-nav-bar>
<ion-header-bar class="bar-creditease">
  <h1 class="title-creditease"><span class="myellipsis">咨询</span></h1>
</ion-header-bar>
<iframe src="http://www.sobot.com/chat/h5/index.html?sysNum=9462a8e23bda426c8e87397de824cf2e&source=2" frameborder="0" width="100%" height="100%">
  </iframe>
</ion-view>
